<div class="container">
  <h1>ALL THE USERS</h1>

  <% @users.each do |user| %>
    <p><%= image_tag user.avatar.url(:thumb) %>
      <p><%= link_to user.email, user_path(user)%> </p>
    </p>
  <% end %>

</div>
