<h1>Welcome to the world wide web of photos</h1>



<div class="container">
    <div id="avatar"class="row">
      <div id="avatar_photo" class="col-md-4">
        <%= image_tag @user.avatar.url %>
      </div>
      <div id="buttons"class="col-md-4">
      </div>
    </div>

  <div id="people" class="row">
    <div id="friends" class="col-md-4">

    </div>
    <div id="following_me" class="col-md-4">

    </div>
  </div>

  <div id = "photos" class="row">
    <div id="favorites" class="col-md-4">

    </div>
    <div id="tagged" class="col-md-4">

    </div>
  </div>
  <%= render 'layouts/footer' %>


</div>
