<h1>Welcome to the world wide web of photos</h1>

<div class="container">

<%= render 'layouts/navbar' %>

  <div id="photogrid"class="row">
    <table>
      <tr>
        <td>

        </td>
      </tr>
    </table>
  <p>
  </div>
</div>
