<h1>YOUR PHOTO</h1>

<%= render('layouts/errors', :object => @photo) %>

<%= form_for(@photo, :url => user_photos_path, :html => { :multipart => true }) do |f| %>
  <%= f.file_field :photo %>
  <%= f.submit "ADD Photo" %>
<% end %>
